.header__container {
  text-align: center;
  margin-top: -150px;
  position: relative;
}

.header__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40px;
  color: white;
}

.header__sub-title {
  color: white;
}