.header__container {
  text-align: center;
  margin-top: -155px;
  position: relative;
}

.header__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40px;
  color: black;
  font-weight: 900;
}

.header__sub-title {
  color: black;
}