.main__header-container {
  text-align: center;
  margin-top: -90px;
  position: relative;
}

.main__header-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40px;
  color: white;
}

.main__body-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__body-container-toogle-button {
  text-align: -webkit-center;
}