.app-wrapper.web{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(248, 249, 250);;
}

.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "HelveticaNeue-CondensedBold" ,"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}


.app.chrome{
    width: 380px;
    height: 600px;
}

